name: Run Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '0 9 * * 0' # At 09:00 on Sunday
  workflow_dispatch:

jobs:
  # test-macos:
  #   runs-on: macos-latest
  #   strategy:
  #     matrix:
  #       python-version: ['3.10', '3.11', '3.12', '3.13']
  #   steps:
  #   - uses: actions/checkout@v4
  #     with:
  #       ref: ${{ github.ref }}
  #   - uses: ./.github/actions/test

  # test-windows:
  #   runs-on: windows-latest
  #   strategy:
  #     matrix:
  #       python-version: ['3.10', '3.11', '3.12', '3.13']
  #   steps:
  #   - uses: actions/checkout@v4
  #     with:
  #       ref: ${{ github.ref }}
  #   - uses: ./.github/actions/test

  test-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
    - uses: ./.github/actions/test
